
<div class="login-page">
	<div class="login-box">
	<div class="logo">
		<a href="javascript:void(0);">Gestão de Projetos</a>
		<small>Seja Bem vindo</small>
	</div>
		<div class="card">
			<div class="body">
				<form id="sign_in" ng-submit="login(email, password)">
					<div class="msg">Faça login para iniciar sua sessão</div>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="material-icons">person</i>
						</span>
					<div class="form-line">
						<input type="email" class="form-control" name="email" placeholder="Email" ng-model="email"   required autofocus />
					</div>
					</div>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="material-icons">lock</i>
						</span>
						<div class="form-line">
							<input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" required />
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 p-t-5">
							<input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
							<label for="rememberme">Lembre de mim</label>
						</div>
						<div class="col-xs-4">
							<button class="btn btn-block bg-green waves-effect" value="Login" type="Submit">Login</button>
						</div>

					</div>
					<div class="row m-t-15 m-b--20">
						<div class="col-xs-6">
							<a href="#/registrar_user">Registrar agora!</a>
						</div>
						<div class="col-xs-6 align-right">
							<a href="#/recuperasenha">Esqueceu a senha?</a>
						</div>
					</div>
				</form>

			</div>
		</div>

</div>
</div>